#loader {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

#loader .progress-circular {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.freeze {
    filter: blur(2px);
}

a {
    text-decoration: none;
}
div.toolbar__title a {
    color: #fff;
}
